* {
    main-bg:            #1a110fE6;
    main-fg:            #f1dfdaFF;
    main-br:            #d9c58dE6;
    main-ex:            #d8c2bcE6;
    select-bg:          #ffb5a180;
    select-fg:          #561f10FF;
    separatorcolor:     transparent;
    border-color:       #53433f40;
}

