* {
    main-bg:            #0f1512E6;
    main-fg:            #dee4deFF;
    main-br:            #8cd5b4E6;
    main-ex:            #b3ccbeE6;
    select-bg:          #8cd5b480;
    select-fg:          #003827FF;
    separatorcolor:     transparent;
    border-color:       #40494440;
}

