* {
    main-bg:            {{colors.surface.default.hex}}E6;
    main-fg:            {{colors.on_surface.default.hex}}FF;
    main-br:            {{colors.primary.default.hex}}E6;
    main-ex:            {{colors.secondary.default.hex}}E6;
    select-bg:          {{colors.primary.default.hex}}80;
    select-fg:          {{colors.on_primary.default.hex}}FF;
    separatorcolor:     transparent;
    border-color:       {{colors.outline.default.hex}}40;
}

